/*-------- FONTS --------*/
@font-face {
    font-family:sans;
    src: url(https://gitlab.com/franklinman/one-player-web/-/raw/master/public/paginas/Sans.ttf);
           }
@font-face {font-family:sansbold;
    src: url(https://gitlab.com/franklinman/one-player-web/-/raw/master/public/paginas/SansBold.ttf);
}

body {
    margin: 0;
    background-color: #090B0E;
    font-family: sans;
	color: white;
}
.container {
    width: 100%;
    height: 90px;
}
#logo {
    height: 60%;
    float: left;
    padding: 20px 5% 0;
}
button {
    margin-top: 20px;
    background-color: #0f141a;
    color: #17bf63;
    padding: 10px 5%; 
    margin-right: 5%;
    float: right;
    width: 38%;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
    text-decoration: none;
    border: 2px solid #15181A;
}
#images {
    width: 100%;
    text-align: center;
    background-color: #080808;
}
.gl {
    width: 31%;
    margin: 10px 0.5%;
    border-radius: 5px;
}
#2 {
    margin-top: 100px;
    width: 100%;
}
p {
    color: white;
    margin: 12px 5% 22px;

}
table {
    border-collapse: collapse;
    width: 90%;
    margin: 12px 5% 0;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
    color: white;
}
h1 {
    color: #929292;
    margin: 12px 5%;
    font-size: 12px;

}

tr:nth-child(even) {
  background-color: #15181A;
}

